:root {
  --side-margin: 5vw;
  --menu-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  background: black;
}

a {
  color: white;
}

.header {
  position: fixed;
  width: 100vw;
  height: var(--menu-height);
  padding: 0 var(--side-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAAXNSR0IArs4c6QAAACBJREFUGFdjZEAF/2FcRgYGBjiHgYEBxAcDOAPKJ6wDANLQBAO9EaMmAAAAAElFTkSuQmCC") repeat;
}

#logo {
  position: relative;
  font-weight: 500;
}

#logo a {
  text-decoration: none;
  background: black;
  padding: 0.2em 0;
}

.menu {
  position: relative;
}

.menu a {
  margin-left: 2em;
  text-decoration: none;
  font-weight: 100;
  background: black;
  padding: 0.2em 0;
}

#gallery {
  position: absolute;
  top: var(--menu-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--menu-height));
}

#gallery-A, #gallery-B {
  position: absolute;
  width: 60vw;
  height: 60vh;
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: brightness(0.7);
  transition: opacity 2s ease-in-out;
}

#gallery-A.active, #gallery-B.active {
  opacity: 1.0;
}

#gallery-cover {
  position: absolute;
  width: 100vw;
  height: calc(100vh - var(--menu-height));
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAAXNSR0IArs4c6QAAACBJREFUGFdjZEAF/2FcRgYGBjiHgYEBxAcDOAPKJ6wDANLQBAO9EaMmAAAAAElFTkSuQmCC") repeat;
}

.content {
  position: absolute;
  width: min(90vw, 1000px);
  margin: 0 max(calc(50vw - 500px), var(--side-margin));
  padding: 0 50px 5em 50px;
}

#start {
  position: relative;
  clear: both;
  width: 100%;
  font-size: 2.4em;
  line-height: 1.5em;
  padding-top: 7em;
}

#start p {
  font-weight: 300;
  margin-bottom: 1em;
}

#projects, #people {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: 8em;
}

.heading {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 100;
}

#people .section {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: 2em;
}

#people .section span {
  position: relative;
  margin-bottom: 0.25em;
}

#people .section span.name {
  font-size: 1.2em;
  font-weight: 500;
  width: 100%;
  display: inline-block;
}

span.title {
  font-weight: 100;
  width: 100%;
  display: inline-block;
}

span.email, span.web {
  margin-right: 1em;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }

  #start {
    font-size: 1.5em;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }

  #gallery-A, #gallery-B {
    width: 80vw;
    height: 50vh;
  }
}
