@font-face {
  font-family: 'Satoshi-Variable';
  src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
       url('fonts/Satoshi-Variable.woff') format('woff'),
       url('fonts/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Switzer-Variable';
  src: url('fonts/Switzer-Variable.woff2') format('woff2'),
       url('fonts/Switzer-Variable.woff') format('woff'),
       url('fonts/Switzer-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Lora-Variable';
  src: url('fonts/Lora-VariableFont_wght.ttf') format('truetype');
       font-weight: 200 600 900;
       font-display: swap;
       font-style: normal;
}

:root {
  --side-width: 25vw;
  --side-padding: 25px;
  --border-color: #666;
  --side-margin: 5vw;
  --menu-height: 80px;
  --content-width: min(90vw, 1200px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Satoshi-Variable", sans-serif; */
  font-family: "Switzer-Variable", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: black;
  background: white;
  overflow-x: hidden;
  background: #FAFAFA;
}

a {
  color: black;
}

hr {
  width: 100vw;
  margin-left: calc(-1 * max(calc(50vw - 550px), var(--side-margin)));
  border-top: 1px solid #CCC;
}

.header {
  position: fixed;
  width: var(--side-width);
  height: 100vh;
  padding: 2em 1em;
  display: flex;
  justify-content: end;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: 99;
  font-size: 1.0rem;
  border-right: 1px solid var(--border-color);
  /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABpJREFUGFdj/P///38GKGAEcRgZGRlBfBQOABnSDAC5vYM4AAAAAElFTkSuQmCC") repeat; */
  /* background: white; */
}

#logo {
  display: block;
  height: 2em;
  width: 100%;
  font-weight: 600;
}

#logo a {
  position: relative;
  float: right;
  text-decoration: none;
  /* background: white; */
  padding: 0.2em 0;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
}

#logo a img {
  height: 1.5em;
  margin-right: 0.5em;
}

.menu {
  display: block;
  width: 100%;
}

.menu a {
  position: relative;
  float: right;
  clear: both;
  display: inline-block;
  margin-left: 2em;
  margin-top: 1em;
  text-decoration: none;
  font-weight: 300;
  /* font-size: 0.9em; */
  /* background: white; */
  cursor: pointer;
}

#gallery {
  position: absolute;
  top: var(--menu-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--menu-height));
}

#gallery-1, #gallery-2, #gallery-3 {
  position: absolute;
  width: 50%;
  height: 40%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: grayscale(1.0);
  transition: opacity 2s ease-in-out;
}

#gallery-1.active, #gallery-2.active, #gallery-3.active {
  opacity: 0.5;
}

#gallery-cover {
  position: absolute;
  width: 100vw;
  height: 100%;
  /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABpJREFUGFdj/P///38GKGAEcRgZGRlBfBQOABnSDAC5vYM4AAAAAElFTkSuQmCC") repeat; */
}

.content {
  position: absolute;
  /* width: var(--content-width); */
  width: calc(100vw - var(--side-width));
  /* margin: 0 calc(50vw - var(--content-width) * 0.5); */
  margin: 0;
  margin-left: var(--side-width);
  /* padding: 0 50px 15em 50px; */
}

#start {
  /* font-family: "Lora-variable", "Switzer-Variable", sans-serif; */
  position: relative;
  clear: both;
  width: 100%;
  font-size: 2.5em;
  line-height: 1.4em;
  padding-top: 2.0rem;
  padding-left: var(--side-padding);
  overflow: hidden;
  display: block;
  min-height: 100vh;
  /* display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; */
}

#start-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.2; */
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.2;
  filter: brightness(1.2) blur(1px) grayscale(1.0);
}

#start.hide {
  display: none;
}

#start p {
  width: 100%;
  max-width: 800px;
  font-weight: 500;
  padding-bottom: 1em;
  margin: 0;
}

#projects, #people {
  position: relative;
  clear: both;
  width: 100%;
  /* margin-top: calc(var(--menu-height)); */
  /* padding: 2em 0; */
}

#projects {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

#people {
  margin-top: 12em;
}

.heading {
  /* font-family: "Lora-variable", "Switzer-Variable", sans-serif; */
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 400;
  width: 100%;
  flex-shrink: 0;
  /* margin-top: 5rem; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid var(--border-color);
  padding-left: var(--side-padding)
}

.big-section {
  border-top: 1px solid black;
}

#loading-projects {
  position: relative;
  padding: 3em 0;
  text-align: center;
  width: 100%;
  letter-spacing: 0.05em;
}

#loading-projects.hide {
  display: none;
}

#loading-projects span {
  padding: 0 0.1em;
}

#loading-projects span#dot-1 {
  animation: dot1 1500ms;
  animation-iteration-count: infinite;
}

#loading-projects span#dot-2 {
  animation: dot2 1500ms;
  animation-iteration-count: infinite;
}

#loading-projects span#dot-3 {
  animation: dot3 1500ms;
  animation-iteration-count: infinite;
}

@keyframes dot1 {
  0%    { opacity: 1.0 }
  20%   { opacity: 0.0 }
  40%   { opacity: 1.0 }
  100%  { opacity: 1.0 }
}

@keyframes dot2 {
  0%    { opacity: 1.0 }
  10%   { opacity: 1.0 }
  30%   { opacity: 0.0 }
  50%   { opacity: 1.0 }
  100%  { opacity: 1.0 }
}

@keyframes dot3 {
  0%    { opacity: 1.0 }
  20%   { opacity: 1.0 }
  40%   { opacity: 0.0 }
  60%   { opacity: 1.0 }
  100%  { opacity: 1.0 }
}

.project {
  position: relative;
  clear: both;
  /* min-width: 280px; */
  width: calc(50% + 1px);
  margin: 0 0 -1px -1px;
  min-height: 300px;
  max-height: 300px;
  flex-shrink: 0;
  border: 1px solid var(--border-color);
  overflow: hidden;
  /* padding-top: 1em; */
  cursor: pointer;
  /* transition: all 200ms ease-in-out; */
  display: none;
}

.project.loaded {
  display: block;
}

.project .project-thumbnail {
  display: block;
  width: 100%;
  height: 230px;
  background-position: center;
  background-size: cover;
  /* border-radius: 0.4rem; */
  filter: grayscale(1.0) brightness(1.1);
  transition: all 150ms ease-in-out;
}

.project:hover {
  background: white;
}

.project:hover .project-thumbnail {
  filter: grayscale(0.0) brightness(1.0);
}

.project .project-keywords {
  display: block;
  /* font-family: monospace; */
  font-size: 0.8em;
  font-weight: 300;
  padding: 0 0.6rem;
}

.project .project-title {
  /* font-family: "Lora-variable", "Switzer-Variable", sans-serif; */
  font-size: 1.2em;
  /* text-transform: uppercase; */
  font-weight: 500;
  /* letter-spacing: 0.05em; */
  padding: 0.6em 0.4rem 0.2em 0.6rem;
}

.project .project-links, .project .project-content {
  display: none;
}

.project.open .project-keywords {
  display: none;
}

.project.open .project-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 40vh;
  filter: grayscale(0.8);
  transition: none;
}

.project.open .project-thumbnail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  width: 100vw;
  height: 40vh;
  filter: none;
  transition: none;
  background-image: linear-gradient(0deg, #FCFCFC, 60%, rgba(255, 255, 255, 0.0));
}

.project.open {
  cursor: default;
  padding: 0;
  /* padding-top: calc(var(--menu-height) * 1.5); */
  padding-top: 40vh;
  padding-left: var(--side-padding);
  max-height: 6000px;
  font-size: 16px;
  width: 100%;
  border-radius: 0;
  border: none;
  margin-bottom: 5em;
  transition: none;
  overflow: visible;
}

.project.open .project-links, .project.open .project-content {
  display: block;
}

.project .project-open {
  position: absolute;
  top: 1.2em;
  right: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9em;
  z-index: 98;
}

.project.open .project-open {
  /* top: calc(var(--menu-height) * 1.5); */
  top: calc(50vh + 1.2em);
  display: none;
}

.project.open .project-title {
  position: relative;
  width: 100%;
  font-weight: 600;
  font-size: 3.0em;
  margin-top: -3.0rem;
  margin-bottom: 1.0rem;
  padding: 0;
}

.project .project-links {
  position: relative;
  width: 100%;
  margin-bottom: 1.0rem;
}

.project .project-links a {
  margin: 0 1em 0 0;
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: none;
  white-space: nowrap;
}

.project .project-links a::before {
  content: "\21B3";
  padding-right: 0.25em;
}

.project .project-content {
  position: relative;
  width: 100%;
  margin-top: 0rem;
}

.project .project-content .block {
  position: relative;
  float: left;
  width: calc(100% - var(--side-padding));
  margin-bottom: 3em;
  margin-top: 2em;
}

.project .project-content .block iframe {
  position: relative;
  float: left;
  width: 100%;
  aspect-ratio: 16/9;
}

.project .project-content .block p {
  max-width: 700px;
  line-height: 1.5;
  margin-bottom: 1.0em;
}

.project .project-content .block p small {
  display: inline-block;
  max-width: 700px;
  font-size: 0.9em;
  line-height: 1.3em;
}

.project img {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: #222222;
}

.project .image-gallery {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-flow: row wrap;
}

.project .image-gallery .item {
  flex: 0 0 25%;
  min-width: 110px;
  box-sizing: border-box;
  padding: 0 1em 1em 0;
  cursor: pointer;
  order: 1;
  opacity: 0.5;
  transition: opacity 150ms ease-in-out;
}

.project .image-gallery .item img {
  min-height: initial;
}

.project .image-gallery .item:hover {
  opacity: 1.0;
}

.project .image-gallery .item p {
  display: none;
  line-height: 1;
}

.project .image-gallery .item p small {
  margin: 0;
}

.project .image-gallery .item.active {
  flex: 0 0 100%;
  padding: 0 0 1em 0;
  opacity: 1.0;
  order: 0;
  cursor: default;
}

.project .image-gallery .item.active p {
  display: inline-block;
}

#people .section {
  position: relative;
  min-height: 5em;
  margin-top: 4em;
  padding-left: var(--side-padding);
  font-size: 18px;
}

#people .section span {
  position: relative;
  margin-bottom: 0.25em;
}

#people .section span.name {
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
  display: inline-block;
}

span.person-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em; 
  width: 100%;
  display: inline-block;
}

span.email, span.web {
  font-size: 0.8em;
  margin-right: 1em;
  white-space: nowrap;
}

span.email {
  user-select: all;
  cursor: pointer;
}

#people .section .person {
  margin: 1em 0 0.5em 0;
}

#people .section .person span.name {
  width: 20%;
  min-width: 150px;
}

.person a {
  text-decoration: none;
}

#people a span::after {
  content: " \2199";
  font-weight: 100;
}


.full {
  position: relative;
  float: left;
  width: 100%;
  padding-right: 1em;
}

.half {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 1em;
}

.third {
  position: relative;
  float: left;
  width: 33.3%;
  padding-right: 1em;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }

  .header {
    /* transform-origin: 0 0; */
    transform: translate(calc(-50vh + 5vw), 50vh) rotate(90deg);
    width: 100vh;
    height: 10vw;
    top: -5vw;
    padding: 0;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border: none;
    border-top: 1px solid var(--border-color);
  }

  #logo {
    width: 300px;
    height: 1em;
    position: relative;
  }

  #logo a {
    float: left;
    padding: 0;
  }

  #logo a img {
    height: 1rem;
  }

  .menu {
    position: relative;
    float: left;
    width: 50%;
    padding: 0;
  }

  .menu a {
    width: 25%;
    clear: none;
    float: left;
    margin: 0;
    padding: 0;
  }

  .heading {
    margin: 0;
    /* padding-top: 5em; */
  }

  #start {
    font-size: 1.2em;
    padding-right: 1em;
    /* display: flex; */
    /* align-content: center; */
    /* justify-content: center; */
    flex-wrap: wrap;
  }

  #start p {
    font-weight: 600;
    padding: 0;
    padding-bottom: 1em;
  }

  #gallery-cover {
    /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABdJREFUGFdj/P///38GKGDEymFkZGQEABl0C/yh+Cu2AAAAAElFTkSuQmCC") repeat; */
  }

  .content {
    width: 90vw;
    margin-left: 10vw;
    padding-left: 0;
    padding-right: 0;
  }

  #gallery-1, #gallery-2, #gallery-3 {
    width: 80vw;
    height: 50vh;
  }

  .project {
    position: relative;
    clear: both;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
  }

  .project.open {
    font-size: 14px;
  }

  .project .project-open {
    display: none;
  }

  .project .project-thumbnail {
    height: 180px;
  }

  .project.open .project-thumbnail {
    /* left: calc( -1 * var(--side-margin)); */
  }

  .project .project-title {
    font-size: 0.9em;
  }

  .project.open .project-title {
    font-size: 2.0em;
  }

  .project .project-keywords {
    font-size: 0.8em;
  }
  
  .full, .half, .third {
    width: 100%;
    padding-right: 0;
    padding-top: 2rem;
  }

  small {
    display: inline-block;
    margin-top: 0;
  }

  #people .section {
    font-size: 14px;
  }
}
