@font-face {
  font-family: 'Satoshi-Variable';
  src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
       url('fonts/Satoshi-Variable.woff') format('woff'),
       url('fonts/Satoshi-Variable.ttf') format('truetype');
       font-weight: 300 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Switzer-Variable';
  src: url('fonts/Switzer-Variable.woff2') format('woff2'),
       url('fonts/Switzer-Variable.woff') format('woff'),
       url('fonts/Switzer-Variable.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

:root {
  --side-margin: 5vw;
  --menu-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Satoshi-Variable", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: black;
  background: white;
  overflow-x: hidden;
}

a {
  color: black;
}

hr {
  width: 100vw;
  margin-left: calc(-1 * max(calc(50vw - 550px), var(--side-margin)));
  border-top: 1px solid #CCC;
}

.header {
  position: fixed;
  width: 100vw;
  height: calc(var(--menu-height));
  padding: calc(var(--menu-height) * 0.2) var(--side-margin);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 99;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABpJREFUGFdj/P///38GKGAEcRgZGRlBfBQOABnSDAC5vYM4AAAAAElFTkSuQmCC") repeat;
}

#logo {
  position: relative;
  font-weight: 900;
}

#logo a {
  text-decoration: none;
  /* background: white; */
  padding: 0.2em 0;
}

#logo a img {
  height: 2.0em;
  margin-right: 0.5em;
}

.menu {
  position: relative;
}

.menu a {
  display: inline-block;
  margin-left: 1em;
  text-decoration: none;
  font-weight: 600;
  /* background: white; */
  padding: 0.3em 0 0 0;
  cursor: pointer;
}

#gallery {
  position: absolute;
  top: var(--menu-height);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--menu-height));
}

#gallery-A, #gallery-B {
  position: absolute;
  width: 50%;
  height: 60%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  filter: grayscale(0.7);
  transition: opacity 2s ease-in-out;
}

#gallery-A.active, #gallery-B.active {
  opacity: 1.0;
}

#gallery-cover {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABpJREFUGFdj/P///38GKGAEcRgZGRlBfBQOABnSDAC5vYM4AAAAAElFTkSuQmCC") repeat;
}

.content {
  position: absolute;
  width: min(90vw, 1200px);
  margin: 0 max(calc(50vw - 600px), var(--side-margin));
  padding: 0 50px 15em 50px;
}

#start {
  position: relative;
  clear: both;
  width: 100%;
  font-size: 2.0em;
  line-height: 1.5em;
  padding-top: calc(var(--menu-height) * 1.5);
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#start p {
  width: 100%;
  font-weight: 500;
  margin-bottom: 1em;
}

#projects, #people {
  position: relative;
  clear: both;
  width: 100%;
  margin-top: calc(var(--menu-height));
  padding: 2em 0;
  background: white;
}

#projects {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.heading {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 900;
  width: 100%;
  flex-shrink: 0;
  margin-top: 0em;
  padding-top: 4em;
}

.big-section {
  border-top: 1px solid black;
}

.project {
  position: relative;
  clear: both;
  min-width: 280px;
  width: 40%;
  margin: 3em 5% 0 0;
  min-height: 300px;
  max-height: 300px;
  flex-shrink: 0;

  overflow: hidden;
  /* border: 1px solid #666; */
  /* padding-top: 1em; */
  cursor: pointer;
  /* transition: all 200ms ease-in-out; */
}

.project .project-thumbnail {
  display: block;
  width: 100%;
  height: 230px;
  background-position: center;
  background-size: cover;
  border-radius: 0.4rem;
  filter: grayscale(0.8) brightness(0.9);
  transition: all 150ms ease-in-out;
}

.project:hover .project-thumbnail {
  filter: grayscale(0.0) brightness(1.0);
}

.project .project-keywords {
  display: block;
  font-family: monospace;
  font-size: 0.6em;
  font-weight: 400;
  padding: 0 0.4rem;
}

.project .project-title {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 1em 0.4rem 0.5em 0.4rem;
}

.project .project-links, .project .project-content {
  display: none;
}

.project.open .project-thumbnail, .project.open .project-keywords {
  display: none;
}

.project.open {
  cursor: default;
  padding: 0;
  padding-top: calc(var(--menu-height) * 1.5);
  max-height: 6000px;
  width: 100%;
  border-radius: 0;
  border: none;
  margin-bottom: 5em;
  transition: none;
}

.project.open .project-links, .project.open .project-content {
  display: block;
}

.project .project-open {
  position: absolute;
  top: 1.2em;
  right: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9em;
  z-index: 98;
}

.project.open .project-open {
  top: calc(var(--menu-height) * 1.5);
}

.project.open .project-title {
  position: relative;
  width: 100%;
  font-weight: 400;
  font-size: 2.8em;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  padding: 0;
}

.project .project-links {
  position: relative;
  width: 100%;
  margin-bottom: 2.0rem;
}

.project .project-links a {
  margin: 0 1em 0 0;
  font-family: monospace;
  font-weight: 400;
  font-size: 0.9em;
  text-decoration: none;
  white-space: nowrap;
}

.project .project-links a::before {
  content: "\21B3";
  padding-right: 0.25em;
}

.project .project-content {
  position: relative;
  width: 100%;
}

.project .project-content .block {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 2em;
}

.project .project-content .block iframe {
  position: relative;
  float: left;
  width: 100%;
  aspect-ratio: 16/9;
}

.project .project-content .block p {
  max-width: 700px;
  line-height: 1.5;
  margin-bottom: 1.0em;
}

.project .project-content .block p small {
  display: inline-block;
  max-width: 700px;
  font-size: 0.8em;
  line-height: 1.1;
}

.project img {
  position: relative;
  width: 100%;
  min-height: 100px;
  background: #222222;
}

#people .section {
  position: relative;
  min-height: 5em;
  margin-top: 4em;
}

#people .section span {
  position: relative;
  margin-bottom: 0.25em;
}

#people .section span.name {
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
  display: inline-block;
}

span.person-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8em; 
  width: 100%;
  display: inline-block;
}

span.email, span.web {
  font-size: 0.8em;
  margin-right: 1em;
  white-space: nowrap;
}

span.email {
  user-select: all;
  cursor: pointer;
}

#people .section .person {
  margin: 1em 0 0.5em 0;
}

#people .section .person span.name {
  width: 20%;
  min-width: 150px;
}

.person a {
  text-decoration: none;
}

#people a span::after {
  content: " \2199";
  font-weight: 100;
}


.full {
  position: relative;
  float: left;
  width: 100%;
  padding-right: 1em;
}

.half {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 1em;
}

.third {
  position: relative;
  float: left;
  width: 33.3%;
  padding-right: 1em;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 15px;
  }

  .header {
    background: white;
  }

  #logo a img {
    position: relative;
    clear: both;
    display: inline-block;
    margin-right: 50vw;
  }

  .heading {
    padding-top: 5em;
  }

  #start {
    font-size: 1.5em;
  }

  #start p {
    font-weight: 600;
  }

  #gallery-cover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABdJREFUGFdj/P///38GKGDEymFkZGQEABl0C/yh+Cu2AAAAAElFTkSuQmCC") repeat;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }

  #gallery-A, #gallery-B {
    width: 80vw;
    height: 50vh;
  }

  .project {
    position: relative;
    clear: both;
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    margin: 3em 0 0 0;
  }

  .project .project-thumbnail {
    height: 200px;
  }

  .project .project-title {
    font-size: 0.9em;
  }

  .project.open .project-title {
    font-size: 2.0em;
  }

  .project .project-keywords {
    font-size: 0.8em;
  }
  
  .full, .half, .third {
    width: 100%;
    padding-right: 0;
  }

  small {
    display: inline-block;
    margin-top: 2em;
  }

  /* #people .section .person span.name {
    width: 100%;
    margin-bottom: 0em;
  } */
}
